<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>Tasks</h2>

			<div class="well">
				<form (ngSubmit)="onSubmit()">
					<div class="form-group">
						<label>Name</label>
						<input type="text" class="form-control" id="name" [(ngModel)] = "task.name" name="name">
					</div>
					<div class="form-group">
						<label>Start</label>
						<input type="date" class="form-control" id="start" [(ngModel)] = "task.start" name="start">
					</div>
					<div class="form-group">
						<label>End</label>
						<input type="date" class="form-control" id="end" [(ngModel)] = "task.end" name="end">
					</div>
					<div class="form-group">

						<label>Duration</label>
						<div class="input-group">
							<input type="number" class="form-control" id="duration" [(ngModel)] = "task.duration" name="duration">
							<span class="input-group-addon">Days</span>
							
						</div>
						
					</div>
					<div class="form-group">
						<label>Completion</label>
						<input type="number" class="form-control" id="completion" [(ngModel)] = "task.completion" name="completion">
					</div>
					<div class="form-group">
						<label>Dependancy</label>
						<input type="text" class="form-control" id="dependancy" [(ngModel)] = "task.dependancy" name="dependancy">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>			
		</div>
		<div class="col-md-8">
			


			<section id="tasks">
				<h2>Table</h2>
				<table class="table table-striped table-sm table-responsive" *ngIf="project">
					<tr>
					    <th></th>
					    <th>ID</th> 
					    <th>Name</th>
					    <th>Start</th>
					    <th>End</th>
					    <th>Duration</th>
					    <th>Completion</th>
					    <th>Dependancy</th>
					</tr>

					<tr *ngFor="let task of project">
						<td>
							<button class="btn btn-sm btn-primary"(click) = "deleteTask(task)"><i class="fa fa-trash-o"></i></button>
						</td>
						<td>{{task.id}}</td>
						<td>{{task.name}}</td>
						<td>{{task.start}}</td>
						<td>{{task.end}}</td>
						<td>{{task.duration}}</td>
						<td>{{task.completion}}</td>
						<td>{{task.dependancy}}</td>
					</tr>
				</table>
			</section>
			<section id="chart">
				<h2>Chart</h2>
				<google-chart [data]="chart"></google-chart>
			</section>


		</div>
	</div>
</div>
