
    <header>
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header jumbotron">
                        <h1>Do you need a quick gantt graph?</h1>
                        <h3>We can help you</h3> 
                    </div>
                </div>
            </div>
		</div>
		
    </header>
    <div class="tv">
      <!--<div class="screen mute" id="tv"></div>-->
      <video autoplay muted loop>
          <source src="./assets/img/bg.mp4" type="video/mp4">
        </video>
    </div>

<!-- <div class="cover">
  <div class="hi">This is fully responsive & mobile friendly YouTube video background scaled with 16/9 aspect ratio. Actually bunch of videos - js loads randomly 1 of 4 with different start/end times, then it loops through all the vids.<br><br> Click <span>here</span> to <em>un</em>mute & <span>here</span> to see another vid (<em>0</em> of <em>0</em>). Check all of them! They're quite awesome. ;]</div>
</div> -->


  
